/* Cards wrapper styling */
.cards-wrapper {
  width: 100%;
  /* overall wide constraint */
  margin: 3rem auto;
  /* center at all sizes */
}


@media (min-width: 900px) and (max-width: 1200px) {
  .cards-wrapper {
    width: 800px;
    /* enforce narrower mid-range */
    margin-left: auto;
    margin-right: auto;
  }
}